arviz
backports-abc
backports.functools-lru-cache
beautifulsoup4
brotlipy
certifi
cffi
colorama
configparser
corner
crayons
cryptography
cycler
emcee  # ==2.2.1  # Required for PTSampler
enum34
h5py
html5lib
idna
ipaddress
kiwisolver
linecache2
lxml
matplotlib
mkl
numpy  # ==1.20  # Required for emcee version above
pandas
patsy
pprintpp
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
requests
scipy
selenium
singledispatch
six
soupsieve
statsmodels
subprocess32
tornado
tqdm
traceback2
unittest2
urllib3
webdriver-manager
webencodings
